body {
  background-color: #f6f6fe;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.container {
  max-width: 600px;
  background: white;
  margin: 0 auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(210, 5%, 71%, 0.071);
}

h1 {
  background: #f15776;
  color: white;
  padding: 10px;
  width: 163px;
  border-radius: 30px;
  display: inline-block;
  font-size: 26px;
}

img {
  display: inline;
  width: 75px;
  position: relative;
  left: 10px;
  top: 23px;
}

select {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  font-size: 16px;
}

h2 {
  color: #8f3446;
  font-size: 40px;
  margin-bottom: 0;
}

.currentTime {
  color: #58222d;
  text-align: center;
  font-size: 89px;
  margin: 0;
}

.currentDate {
  color: #8f3446bf;
  text-align: right;
  font-size: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.301);
  padding-bottom: 10px;
}

footer {
  color: rgba(0, 0, 0, 0.301);
  text-align: center;
  padding-top: 10px;
}

a {
  color: #f15776;
}

.cities {
  justify-content: space-around;
  display: flex;
  text-align: center;
  margin: 0;
}

h3 {
  margin: 0 auto;
}

.otherCity {
  background: #f15776;
  color: white;
  border-radius: 50px;
  width: 134px;
  padding: 10px;
  margin-top: 15px;
}
