body {
  background-color: #f6f6fe;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 600px;
  background: white;
  margin: 0 auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(210, 5%, 71%, 0.071);
}

h1 {
  background: #7d61f3;
  color: white;
  padding: 10px;
  width: 163px;
  border-radius: 30px;
  display: inline-block;
  font-size: 28px;
}

img {
  display: inline;
  width: 75px;
  position: relative;
  left: 10px;
  top: 23px;
}

select {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  font-size: 16px;
}

h2 {
  color: #51409d;
  font-size: 40px;
  margin-bottom: 0;
}

.time {
  color: #392d6c;
  text-align: center;
  font-size: 100px;
  margin: 0;
}

.amPm {
  font-size: 35px;
  margin-left: -15px;
}

.date {
  color: #51409d;
  text-align: right;
  font-size: 30px;
  margin-bottom: 30px;
}

footer {
  color: rgba(0, 0, 0, 0.301);
  text-align: center;
  padding-top: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.099);
}

a {
  color: #7d61f3;
}
